.component .cards-container{
    overflow: auto;
}

.cards-container .card{
    min-width: 120px;
}

.logo-open-page{
    position: absolute;
    width: 0px;
    top: -50%;
    z-index: 10;
    animation: logo-open-page 1s linear;
}

    .logo-open-page img{
        width: 100%;
        filter: drop-shadow(0 10px 10px black);
    }

    
            /* scrollbar */
            
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: var(--black);
          }
          
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 1rem;
          }
        
@keyframes logo-open-page {
    0% {
        width: 30vw;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(100%);
        filter: opacity(1);
    }

    80% {
        width: 30vw;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(120%);
        filter: opacity(1);
    }

    99%{
        width: 30vw;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(300%);
        filter: opacity(0);
    }

    100%{
        width: 0px;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(100%);
        filter: opacity(0);
    }
}

@media screen and (max-width: 1100px) {
    .cards-container{
        flex-wrap: nowrap;
    }
    
    .cards-container .card{
        min-width: calc((100% / 4) - 1rem);
    }
}

@media screen and (max-width: 700px) {

    .cards-container .card{
        min-width: calc((100% / 2) - 1rem);
    }

    .timing{
        font-size: 0.8rem;
    }

    .logo-open-page{
        width: 50vw;
    }
}

@media screen and (max-width: 550px) {
    .song-name{
        display: none;
    }

    .player-options{
        flex-basis: unset;
    }

    .volume-bar{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .song-icons{
        display: none;
    }

    .player-options-controls .fa-list-ul, .player-options-controls .fa-display {
        display: none;
    }
}

@media screen and (max-height: 300px) {
    .upgrade-bar{
        display: none;
    }
}